body{
    background-color:#ffd700;
    font-family: 'Silkscreen', sans-serif;
}

.header_div{
    background-color:  #ff0000;
    color: rgb(224, 122, 164);
}

.header_div p{
    font-size:15px;
    font-family: 'Permanent Marker', cursive;
    color:chocolate;
    font-weight: bold;
    letter-spacing:2px;
}

.main_div button{
    font-family:'Silkscreen',sans-serif;
    margin-top:30px;
    width:130px;
    font-weight:bolder;
    letter-spacing:3px;
}

.copy_right_footer{
    position:fixed;
    color:crimson;
    background-color:burlywood;
    line-height:3;
    width:100%;
    bottom:0;
    text-align:center;
    text-shadow: 5px 5px 5px goldenrod;
    font-size: 18px;
}